/* cards fonts */

@import "./cf-cards-generic.css";
[class*='cf-cards-generic-']:before {
  font-size: 18px;
}
.cf-cards-generic-spades:before,
.cf-cards-generic-hearts:before,
.cf-cards-generic-diamonds:before,
.cf-cards-generic-clubs:before {
  font-size: 12px;
  vertical-align: -2px;
}

.cf-cards-generic-spades:before,
.cf-cards-generic-clubs:before {
  color: black;
  vertical-align: -2px;
}

.cf-cards-generic-hearts:before,
.cf-cards-generic-diamonds:before {
  color: red;
}

/* Generic formatting stuff */

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

/* Base */ 

.castle-falkenstein .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}

.castle-falkenstein form {
  height: 100%;
}

.castle-falkenstein .sheet-header {
  flex: 0 0 120px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.castle-falkenstein .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.castle-falkenstein .sheet-header .header-fields {
  flex: 1;
  /*---removed from original--- height: 100px;*/
}

.castle-falkenstein .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.castle-falkenstein .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.castle-falkenstein .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.castle-falkenstein .resource input {
  width: 100px;
  height: 28px;
}

.castle-falkenstein .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.castle-falkenstein .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.castle-falkenstein .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.castle-falkenstein .sheet-body {
  overflow: hidden;
}

.castle-falkenstein .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.castle-falkenstein .editor,
.castle-falkenstein .editor-content {
  height: 100%;
}

/* fix for firefox obnoxiously large scrollbar. Not sure why it's so much different from Chrome's. */
/* FIXME Firefox users may actually prefer the thick bar + thin bar isn't great for accessibility. */
/* TODO See if FoundryVTT intentionally makes it thin or its a Chrome default. */
html * {
  scrollbar-width: thin !important;
}

.castle-falkenstein .rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.castle-falkenstein .window-title,
.castle-falkenstein input {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.castle-falkenstein .sheet-tabs .active {
  font-weight: bold;
}

.castle-falkenstein .resource-label {
  font-weight: bold;
}

.castle-falkenstein .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: left;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.castle-falkenstein .items-list > * {
  text-align: left;
}

.castle-falkenstein .items-list .items-header > * {
  font-size: 14px;
}

.castle-falkenstein .items-list .items-header {
  font-weight: bold;
}

.castle-falkenstein .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.castle-falkenstein .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.castle-falkenstein .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}

.castle-falkenstein .items-list .item-name h3,
.castle-falkenstein .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.castle-falkenstein .items-list .item-controls {
  display: flex;
  flex: 0 0 70px;
  justify-content: flex-end;
}

.castle-falkenstein .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.castle-falkenstein .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.castle-falkenstein .items-list .item:last-child {
  border-bottom: none;
}

.castle-falkenstein .items-list .item .item-name {
  color: #191813;
}

.castle-falkenstein .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.castle-falkenstein .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.castle-falkenstein .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.castle-falkenstein .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.castle-falkenstein .inlineblock {
  display: inline-block;
}

.castle-falkenstein.actor .sheet-header,
.castle-falkenstein.item .sheet-header {
  padding: 2px;
}

/* Really Castle Falkenstein system specific */

.castle-falkenstein .health-and-wounds {
  height: 45px;
  grid-template-columns: 40px 1fr;
}

.castle-falkenstein .health {
  text-align: center;
}

/* item lists */

.castle-falkenstein .items-list .ability-perform-feat,
.castle-falkenstein .items-list .spell-cast {
  text-align: center;
  flex: 0 0 30px;
}

.castle-falkenstein .items-list .ability-level {
  flex: 1 1 100px;
}
.castle-falkenstein .items-list .ability-name {
  flex: 1 1 300px;
}

.castle-falkenstein .items-list .spell-level {
  flex: 0 0 115px;
  text-align: center;
}

/* item sheets */

.castle-falkenstein.item .ability-sheet-header {
  align-items: center;
  grid-template-columns: auto 1fr auto 2fr auto;
}

.castle-falkenstein.item .possession-sheet-header {
  align-items: center;
  grid-template-columns: auto 1fr;
}

.castle-falkenstein.item .spell-sheet-header {
  align-items: center;
  grid-template-columns: auto 1fr 40px 5px auto 25px;
}

.castle-falkenstein.item .spell-sheet-header .thaumic-level {
  text-align: center;
}

.castle-falkenstein.item .sheet-body {
  height: calc(100% - 76px); /* will need to be adjusted for either of the item sheets if their headers are no longer one-liners */
}

/* chat message fix */

.chat-message .message-header .message-sender {
  text-overflow: ellipsis;
  overflow: hidden;
}
