@import "./cf-cards.css";

:root {
  --grid-item-drag-width: 15px;
  --grid-item-roll-button-width: 20px;
  --grid-item-controls-width: 74px;
  --grid-2digits-width: 16px;
  --grid-1alpha-width: 8px;
  --grid-slash-width: 5px;
  --grid-range-width: 25px;
  --grid-maxrange-width: 30px;
  --grid-conceal-width: 30px;
  --grid-harm-rank-width: 30px;
  --input-2digits-width: 25px;
  --input-3digits-width: 33px;
  --input-4digits-width: 41px;
  --select-1alpha-width: 40px;
  --card-hover-translateY: 0px;
}

[class*='cf-']:before {
  font-size: 20px;
  vertical-align: middle;
}

.card-control i:before {
  font-size: 14px;
  vertical-align: middle;
}

/* Generic formatting stuff */

.grid {
  display: grid;
  gap: 5px;
  padding: 0;
}

.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

/* Changes to FoundryVTT default CSS */

.compendium-sidebar .directory-item.compendium .compendium-name {
  align-self: start;
  font-size: var(--font-size-14);

}

/* Base */ 

.castle-falkenstein .window-content {
  height: 320px;
  padding: 5px;
}

.castle-falkenstein form {
  height: 100%;
}

.castle-falkenstein .sheet-header {
  flex: 0 0 120px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: visible;
}

.castle-falkenstein .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.castle-falkenstein .sheet-header .header-fields {
  flex: 1;
}

.castle-falkenstein .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.castle-falkenstein .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.castle-falkenstein .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.castle-falkenstein .resource input {
  width: 100px;
  height: 28px;
}

.castle-falkenstein .tabs {
  flex: 0 0 25px;
  flex-wrap: wrap;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.castle-falkenstein .tab-link {
  line-height: 25px;
  margin-left: 3px;
  margin-right: 3px;
}

.castle-falkenstein .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.castle-falkenstein .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.castle-falkenstein .sheet-body {
  overflow: hidden;
}

.castle-falkenstein .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.castle-falkenstein .editor,
.castle-falkenstein .editor-content {
  height: 100%;
}

/* fix for firefox obnoxiously large scrollbar. Not sure why it's so much different from Chrome's. */
/* FIXME Firefox users may actually prefer the thick bar + thin bar isn't great for accessibility. */
/* TODO See if FoundryVTT intentionally makes it thin or its a Chrome default. */
html * {
  scrollbar-width: thin !important;
}

.castle-falkenstein .editable.character .rollable:hover,
.castle-falkenstein .editable.character .rollable:focus {
  cursor: pointer;
}

.castle-falkenstein .editable.character .item-drag {
  cursor: grab;
}

.castle-falkenstein .locked.character .item-drag,
.castle-falkenstein:not(.gm-screen-grid-cell-content) .locked.character a.rollable,
.castle-falkenstein .locked.character a.item-create,
.castle-falkenstein .locked.character a.item-delete {
  cursor: default;
  color: gray;
}

.castle-falkenstein:not(.gm-screen-grid-cell-content) .locked.character a.rollable:hover,
.castle-falkenstein:not(.gm-screen-grid-cell-content) .locked.character a.rollable:focus,
.castle-falkenstein .locked.character a.item-create:hover,
.castle-falkenstein .locked.character a.item-create:focus,
.castle-falkenstein .locked.character a.item-delete:hover,
.castle-falkenstein .locked.character a.item-delete:focus {
  text-shadow: none;
}

.castle-falkenstein .window-title,
.castle-falkenstein input {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.castle-falkenstein .resource-label {
  font-weight: bold;
}

.castle-falkenstein .sheet-tabs .active {
  font-weight: bold;
}

.castle-falkenstein .tab[data-tab].active {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.castle-falkenstein .items-list {
  flex-grow: 1;
}

.castle-falkenstein .items-list.weapons {
  flex-grow: 0;
  overflow-y: visible;
  padding-bottom:22px;
}

.castle-falkenstein .items-list.possessions {
  flex-grow: 1;
  overflow-y: visible;
}

.castle-falkenstein .items-list .items-header > * {
  font-size: 14px;
}

.castle-falkenstein .items-list .items-header {
  font-weight: bold;
}

.castle-falkenstein .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.castle-falkenstein .items-list .item-controls {
  display: flex;
  flex: 0 0 var(--grid-item-controls-width);
  justify-content: flex-end;
}

.castle-falkenstein .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.castle-falkenstein .items-list .item {
  align-items: center;
  padding: 0 2px;
  height: 22px;
  border-bottom: 1px solid #c9c7b8;
}

.castle-falkenstein .items-list .item:not(.items-header):last-child {
  border-bottom: 1px solid transparent;
}

.castle-falkenstein .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.castle-falkenstein .items-list .item > *:first-child {
  margin-left:2px;
}

.castle-falkenstein .items-list .item {
  display: grid;
  grid-column-gap: 5px;
}

.castle-falkenstein .items-list .item .item-drag {
  margin: -5px;
  margin-top: -6px;
  line-height: 22px;
  text-align: center;
}

.castle-falkenstein .items-list .item input {
  height: auto;
}

.castle-falkenstein .items-list .items-header .perform-feat,
.castle-falkenstein .items-list .items-header .define-spell {
  grid-column: span 2;
  text-align: center;
}

.castle-falkenstein .items-list .items-header .cf-poker-hand:before {
  font-size: 26px;
}

.castle-falkenstein .items-list .perform-feat,
.castle-falkenstein .items-list .define-spell { 
  text-align: center;
}

.castle-falkenstein .items-list .name {
  text-align: left;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.castle-falkenstein .tab.abilities .items-list .item {
  grid-template-columns: var(--grid-item-drag-width) var(--grid-item-roll-button-width) 1fr 110px var(--grid-item-controls-width);
}

.castle-falkenstein .tab.abilities .items-list .level {
  text-align: center;
}

.castle-falkenstein .tab.possessions .items-list.weapons .item {
  grid-template-columns: var(--grid-item-drag-width) 1fr var(--grid-range-width) var(--grid-slash-width) var(--grid-maxrange-width) var(--input-2digits-width) var(--grid-slash-width) var(--grid-2digits-width) var(--grid-conceal-width) var(--grid-2digits-width) var(--grid-slash-width) var(--grid-2digits-width) var(--grid-slash-width) var(--grid-2digits-width) var(--grid-harm-rank-width) var(--grid-item-controls-width);
}

.castle-falkenstein .tab.possessions .items-list.weapons.hide-wounds .item {
  grid-template-columns: var(--grid-item-drag-width) 1fr var(--grid-range-width) var(--grid-slash-width) var(--grid-maxrange-width) var(--input-2digits-width) var(--grid-slash-width) var(--grid-2digits-width) var(--grid-conceal-width) var(--grid-harm-rank-width) var(--grid-item-controls-width);
}

.castle-falkenstein .tab.possessions .items-list.weapons.hide-harm-rank .item {
  grid-template-columns: var(--grid-item-drag-width) 1fr var(--grid-range-width) var(--grid-slash-width) var(--grid-maxrange-width) var(--input-2digits-width) var(--grid-slash-width) var(--grid-2digits-width) var(--grid-conceal-width) var(--grid-2digits-width) var(--grid-slash-width) var(--grid-2digits-width) var(--grid-slash-width) var(--grid-2digits-width) var(--grid-item-controls-width);
}

.castle-falkenstein .tab.possessions .items-list.weapons .item.items-header .range,
.castle-falkenstein .tab.possessions .items-list.weapons .item.items-header .ammunition {
  grid-column: span 3;
}

.castle-falkenstein .tab.possessions .items-list.weapons .item.items-header .wounds {
  grid-column: span 5;
}

.castle-falkenstein .tab.possessions .items-list.weapons .range,
.castle-falkenstein .tab.possessions .items-list.weapons .effective-range,
.castle-falkenstein .tab.possessions .items-list.weapons .max-range,
.castle-falkenstein.item .weapon-sheet-header1 .range,
.castle-falkenstein.item .weapon-sheet-header1 .effective-range,
.castle-falkenstein.item .weapon-sheet-header1 .max-range {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.castle-falkenstein .tab.possessions .items-list.weapons .range,
.castle-falkenstein .tab.possessions .items-list.weapons .ammunition,
.castle-falkenstein .tab.possessions .items-list.weapons .conceal,
.castle-falkenstein .tab.possessions .items-list.weapons .wounds,
.castle-falkenstein .tab.possessions .items-list.weapons .wounds-partial,
.castle-falkenstein .tab.possessions .items-list.weapons .wounds-full,
.castle-falkenstein .tab.possessions .items-list.weapons .wounds-high,
.castle-falkenstein .tab.possessions .items-list.weapons .harm-rank,
.castle-falkenstein.item .weapon-sheet-header3 .wounds-partial,
.castle-falkenstein.item .weapon-sheet-header3 .wounds-full,
.castle-falkenstein.item .weapon-sheet-header3 .wounds-high {
  text-align: center;
}

.castle-falkenstein .tab.possessions .items-list.weapons .effective-range,
.castle-falkenstein .tab.possessions .items-list.weapons .ammunition-current,
.castle-falkenstein.item .weapon-sheet-header2 .effective-range,
.castle-falkenstein.item .weapon-sheet-header2 .max-range,
.castle-falkenstein.item .weapon-sheet-header3 .ammunition-current,
.castle-falkenstein.item .weapon-sheet-header3 .ammunition-max {
  text-align: right;
}

.castle-falkenstein .tab.possessions .items-list.weapons .max-range,
.castle-falkenstein .tab.possessions .items-list.weapons .ammunition-max {
  text-align: left;
}

.castle-falkenstein.item .weapon-sheet-header2 .conceal,
.castle-falkenstein.item .weapon-sheet-header3 .harm-rank {
  margin-right: 2px;
}

.castle-falkenstein .tab.possessions .items-list.possessions .item {
  grid-template-columns: var(--grid-item-drag-width) 1fr var(--grid-item-controls-width);
}

.castle-falkenstein .tab.spells .items-list .item {
  grid-template-columns: var(--grid-item-drag-width) var(--grid-item-roll-button-width) 1fr var(--grid-2digits-width) var(--grid-item-controls-width);
}

.castle-falkenstein .tab.spells .items-list .level {
  text-align: center;
}

.castle-falkenstein .health-and-wounds {
  height: 45px;
  grid-template-columns: 40px 1fr;
}

.castle-falkenstein .health {
  text-align: center;
}

/* item sheets */

.castle-falkenstein.item .ability-sheet-header {
  align-items: center;
  grid-template-columns: auto 1fr auto 5px auto auto;
}

.castle-falkenstein.item .ability-sheet-header.specialization {
  align-items: center;
  grid-template-columns: auto minmax(0, 1fr) 5px minmax(0, 1fr);
}

.castle-falkenstein.item .ability-sheet-header.specialization *.own-only {
  display: none;
}

.castle-falkenstein.item .ability-sheet-header:not(.specialization) *.spe-only {
  display: none;
}

.castle-falkenstein.item .ability-sheet-header .ability-level {
  text-align: right;
}

.castle-falkenstein.item .weapon-sheet-header1 {
  align-items: center;
  grid-template-columns: auto 1fr;
  margin-bottom: 5px;
}

.castle-falkenstein.item .weapon-sheet-header2 {
  align-items: center;
  grid-template-columns: auto var(--input-3digits-width) auto var(--input-4digits-width) 1fr auto var(--select-1alpha-width);
  margin-bottom: 5px;

}

.castle-falkenstein.item .weapon-sheet-header3 {
  align-items: center;
  grid-template-columns: auto var(--input-2digits-width) var(--grid-slash-width) var(--input-2digits-width) 1fr auto var(--input-2digits-width) var(--grid-slash-width) var(--input-2digits-width) var(--grid-slash-width) var(--input-2digits-width) 1fr auto var(--select-1alpha-width);
}

.castle-falkenstein.item .weapon-sheet-header3.hide-wounds {
  grid-template-columns: auto var(--input-2digits-width) var(--grid-slash-width) var(--input-2digits-width) 1fr auto var(--select-1alpha-width);
}

.castle-falkenstein.item .weapon-sheet-header3.hide-harm-rank {
  grid-template-columns: auto var(--input-2digits-width) var(--grid-slash-width) var(--input-2digits-width) 1fr auto var(--input-2digits-width) var(--grid-slash-width) var(--input-2digits-width) var(--grid-slash-width) var(--input-2digits-width);
}

.castle-falkenstein.item .possession-sheet-header {
  align-items: center;
  grid-template-columns: auto 1fr;
}

.castle-falkenstein.item .spell-sheet-header {
  align-items: center;
  grid-template-columns: auto 1fr auto 5px auto 25px;
}

.castle-falkenstein.item .spell-sheet-header .level {
  text-align: center;
}

.castle-falkenstein.item .sheet-body {
  height: calc(100% - 76px); /* will need to be adjusted for either of the item sheets if their headers are no longer one-liners */
}

.chat-message .message-sender {
  font-weight: bold;
  width: 100%;
}

.castle-falkenstein span.feat-chat-range {
  text-align: right !important;
}

.castle-falkenstein .suit-symbol-spades,
.chat-message .suit-symbol-spades,
.castle-falkenstein .suit-symbol-hearts,
.chat-message .suit-symbol-hearts,
.castle-falkenstein .suit-symbol-diamonds,
.chat-message .suit-symbol-diamonds,
.castle-falkenstein .suit-symbol-clubs,
.chat-message .suit-symbol-clubs,
.castle-falkenstein .suit-symbol-\?,
.chat-message .suit-symbol-\?,
.castle-falkenstein .suit-select {
  font-size: 130%;
}

.castle-falkenstein .suit-symbol--,
.chat-message span.suit-symbol--,
.castle-falkenstein .suit-select *:nth-child(1) {
  color: gray;
}

.castle-falkenstein .suit-symbol-spades,
.chat-message .suit-symbol-spades,
.castle-falkenstein .suit-select *:nth-child(2),
.castle-falkenstein .suit-symbol-clubs,
.chat-message .suit-symbol-clubs,
.castle-falkenstein .suit-select *:nth-child(5) {
  color: black;
}

.castle-falkenstein .suit-symbol-hearts,
.chat-message .suit-symbol-hearts,
.castle-falkenstein .suit-select *:nth-child(3),
.castle-falkenstein .suit-symbol-diamonds,
.chat-message .suit-symbol-diamonds,
.castle-falkenstein .suit-select *:nth-child(4) {
  color: red;
}

/* Monarch display tweak */

/* No editing cards while playing. Expecting system users to use presets (core, CF, RTUC or custom-made).
 * Plus, if they want to edit cards, they may deactivate the Monarch sheet and use the default Card sheet temporarily. */
/*.monarch .card-data {
  display: none !important;
}*/

/* When they are long, app control labels affect the display too much. Ellipsis is preferrable for them.
   Also card names get truncated. */

.monarch .app-control,
.monarch-card .name input {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.monarch-card .name {
  max-width: 60% !important;
}

/* Required until https://github.com/zeel01/monarch/issues/51 is fixed */
.monarch .app-control[disabled] {
  opacity: 0.4 !important;
  cursor: default !important;
}

/* disabling the context menu does not fully hide it, it leaves a dot */
.monarch .card.show-ctx .context-menu {
  display: none !important;
}

.monarch-hand footer.sheet-footer button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: 10px;
}

/* perform-feat and define-spell */

.castle-falkenstein .cards-played,
.chat-message .cards-played,
.chat-message .cards-drawn {
  display: flex;
  overflow-x: auto;
  margin: auto;
  max-width: 100%;
  gap: 5px;
}

.castle-falkenstein .cards-played *:first-child,
.chat-message .cards-played *:first-child,
.chat-message .cards-drawn *:first-child {
  margin-left: auto;
}

.castle-falkenstein .cards-played *:last-child,
.chat-message .cards-played *:last-child,
.chat-message .cards-drawn *:last-child {
  margin-right: auto;
}

.castle-falkenstein .cards-played img,
.chat-message .cards-played img,
.chat-message .cards-drawn img {
  border: none;
  height: 35px;
  width: 25px;
}

div.divorce {
  display: grid;
  grid-template-columns: max-content 1fr min-content 5px min-content 5px min-content 5px min-content;
  align-items: center;
}


div.divorce {
  overflow: hidden;
}

.castle-falkenstein .divorce-button {
  height: 20px;
}

.castle-falkenstein .divorce-button,
.castle-falkenstein .feat-card-played-button {
  width: auto;
  padding: 0;
  margin: 0;
  font-family: revert;
  line-height: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background: transparent;
  cursor: pointer;
  border: 0;
  border-bottom: 2px ridge transparent; /* see suit-selected & card-selected below */
}

.castle-falkenstein .divorce-button:focus,
.castle-falkenstein .feat-card-played-button:focus {
  box-shadow: none;
}

.castle-falkenstein .divorce-button:hover,
.castle-falkenstein .divorce-button:focus-visible,
.castle-falkenstein .feat-card-played-button:hover,
.castle-falkenstein .feat-card-played-button:focus-visible {
  box-shadow: 0 0 5px var(--color-shadow-primary);
}

.castle-falkenstein .divorce-button.divorce-spades.spades,
.castle-falkenstein .divorce-button.divorce-hearts.hearts,
.castle-falkenstein .divorce-button.divorce-diamonds.diamonds,
.castle-falkenstein .divorce-button.divorce-clubs.clubs,
.castle-falkenstein .feat-card-played-button.card-selected {
  border-bottom: 2px ridge gray;
}

.castle-falkenstein .perform-feat-total,
.castle-falkenstein .define-spell-total,
.chat-message .define-spell-total {
  width: 100%;
  margin-bottom: 5px;
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid var(--color-border-light-primary);
  border-radius: 3px;
  font-size: var(--font-size-14);
  line-height: 28px;
  text-align: center;
}

.castle-falkenstein .spell-definitions {
  grid-template-columns: 1fr 200px 30px;
  grid-template-rows: repeat(auto-fill, auto);
  align-items: center;
}

.castle-falkenstein .spell-definitions .resource-label {
  line-height: 100%;
}

.castle-falkenstein .spell-definitions .fixed {
  grid-column: 1 / span 2;
}

.castle-falkenstein .spell-definitions .value {
  text-align: right;
  margin-right: 6px;
}

.castle-falkenstein .spell-definitions select {
  margin-right: 2px;
}

/* compatibility for chat messages generated before 1.1.0 */
.castle-falkenstein .cards-played .card-played::before,
.chat-message .cards-played .card-played::before,
.chat-message .cards-drawn .card-drawn::before {
  font-size: 250%;
}

.castle-falkenstein .cards-played .card-played:not(.correct-suit),
.chat-message .cards-played .card-played:not(.correct-suit),
.chat-message .cards-drawn .card-drawn:not(.correct-suit) {
  opacity: 0.4;
}

.chat-message .feat-chat-ranges-button {
  cursor: pointer;
}

.chat-message .feat-chat-ranges {
  width: 70%;
  margin: 0 auto;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 2px;
  grid-column-gap: 5px;
  padding-top: 5px;
}

.chat-message .feat-chat-range {
  text-align: center;
}

.chat-message div.feat-chat-ranges-collapsible {
  display: none;
  overflow: hidden;
}

/* chat messages - fix */
.chat-message .message-header .message-sender {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-message .wild-spell {
  font-weight: bold;
  text-align: center;
}

.chat-message .harmonics-desc {
  font-weight: bold;
}

.grid-hide {
  /*display: none;*/
  visibility: hidden;
}

/* Card hands */

.app.castle-falkenstein.cards-hand.window-app .window-header {
  width: 100%;
}

.app.castle-falkenstein.cards-hand .card-hand-controls {
  display: flex;
  justify-content: center;
}

.app.castle-falkenstein.cards-hand .spell-being-cast,
.app.castle-falkenstein.cards-hand .suit-symbol-spades,
.app.castle-falkenstein.cards-hand .suit-symbol-hearts,
.app.castle-falkenstein.cards-hand .suit-symbol-diamonds,
.app.castle-falkenstein.cards-hand .suit-symbol-clubs,
.app.castle-falkenstein.cards-hand .suit-symbol-\? {
  color: var(--color-text-light-highlight);
}

.app.castle-falkenstein.cards-hand div.spell-being-cast {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.app.castle-falkenstein.cards-hand div.spell-being-cast .spell-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.app.castle-falkenstein.cards-hand div.spell-being-cast .power-gathering-progress {
  text-align: right;
}

.app.castle-falkenstein.cards-hand hr.spell-being-cast {
  margin-top: 7px;
  margin-bottom: 7px;
}

.app.castle-falkenstein.cards-hand .card-hand-controls .flexrow {
  width: 300px;
  justify-content: space-evenly;
}

.app.castle-falkenstein.cards-hand .window-content {
  overflow: visible;
  background: transparent;
}

.handedCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.handedCards h2 {
  text-align: center;
  color: white;
  margin-top: 5px;
}

.handedCards ol.cards {
  display: contents;
  overflow: visible;
}

/* when there are no cards in the hand, add a semi-transparent area in which cards may be dropped */
.handedCards ol.cards:not(:has(> *)) {
  display: block; 
  width: 200px;
  height: 285px;
  border-radius: 4.5% / 3%;
}

/* when there are no cards in the hand, add a semi-transparent area in which cards may be dropped */
.handedCards ol.cards.draghover:not(:has(> *)) {
  /*transition: background-color ease-in-out .15s;*/
  background: linear-gradient(180deg,rgba(255,255,255,.3), rgba(0,0,0,0));
}

.handedCards ol.cards li.card {
  transition: all 0.15s;
  transition-timing-function: ease-in;
  box-shadow: 1px 1px 20px 5px #111111;
  justify-content: center;
}

.handedCards ol.cards li.card:hover {
  box-shadow: 1px 1px 20px 5px #3a3a3a;
}

.handedCards ol.cards li.card img.card-face {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}

.handedCards ol.cards li.card.rtg-visuals,
.handedCards ol.cards li.card.rtg-visuals img.card-face {
  border-radius: 4.5% / 3%;
}

.handedCards ol.cards li.card.rtg-visuals img.card-face {
  /* fix for firefox */
  flex: 1;
}

.handedCards ol.cards li.card.focusedCard img.card-face {
  cursor: zoom-out;
  box-shadow: 1px 1px 20px 5px #3a3a3a;
}

div.castle-falkenstein.cards-config a.card-control {
  color: var(--color-text-light-highlight);
  max-width: min-content;
}

div.castle-falkenstein.cards-config a[disabled].card-control {
  color: var(--color-text-dark-inactive);
}

.handedCards li.card div.castle-falkenstein-card-controls {
  display: none;
  position: relative;
  transition: none;
  font-size: 1em;
  flex-direction: row;
  height: 20px;
  bottom: 20px;
  justify-items: end;
  align-items: end;
}

.handedCards li.card a.card-control {
  color: var(--color-text-dark-secondary);
}

.handedCards li.card.focusedCard div.castle-falkenstein-card-controls a.card-control {
  color: var(--color-text-light-highlight);
}

.handedCards li.card.focusedCard div.castle-falkenstein-card-controls i:before {
  font-size: 14px;
}

/*.handedCards li.card.focusedCard div.castle-falkenstein-card-controls,*/
.handedCards li.card:not(.focusedCard) div.castle-falkenstein-card-controls:hover,
.handedCards li.card:not(.focusedCard):hover div.castle-falkenstein-card-controls {
  display: block;
  width: 100%;
  
}

/*.handedCards li.card:hover .card-face {
  box-shadow: 0 0 5px var(--color-shadow-primary);
}*/

.handedCards li.card:hover {
  --card-hover-translateY: 10px;
}

.handedCards li.card .card-face {
  image-rendering: optimizequality;
  will-change: transform; /* blurs the cards but removes flickering caused by cards moving while hovered */
}

.handedCards.sorcery .card {
  background: url(../../../../ui/parchment.jpg) repeat;
}

.handedCards.sorcery .card img.card-face {
  opacity: 0.4;
}

.handedCards.sorcery .card.correct-suit img.card-face,
.handedCards.sorcery .card.focusedCard img.card-face {
  opacity: 1;
}


/* animation effect of correct-suit sorcery cards => needs work */
/*
@supports (background: paint(something)) {

  .handedCards.sorcery .correct-suit img.card-face {
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
      );
    border: solid 3px transparent;
    border-radius: 3px;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    background-position: center center;
    animation: bg-spin 3s linear infinite;
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

}
*/

/* gm-screen mod actor-sheet display improvements */

.castle-falkenstein .items-list .name {
  min-width: 20px;
}

div.gm-screen-grid-cell-content.castle-falkenstein.actor > form {
  max-width: 100%;
  max-height: 100%;
}

div.gm-screen-grid-cell-content.castle-falkenstein.actor {
  overflow-y: hidden;
  --grid-item-drag-width: 0px;
  --grid-item-controls-width: 20px;
}

div.gm-screen-grid-cell-content.castle-falkenstein.actor > form li.item > div.item-drag > .fa-bars::before {
  display: none;
}

div.gm-screen-grid-cell-content.castle-falkenstein.actor > form li.item.items-header > div.item-controls > a {
  display: none;
}

div.gm-screen-grid-cell-content.castle-falkenstein.actor > form li.item > div.item-controls > a.item-edit,
div.gm-screen-grid-cell-content.castle-falkenstein.actor > form li.item > div.item-controls > a.item-delete {
  display: none;
}


div.gm-screen-grid-cell-content.castle-falkenstein .window-resizable-handle {
  display: none;
}

.chat-sidebar .wild-spell {
  --timescale: 0.05s;
  position: relative;
}

.chat-sidebar .wild-spell .pt {
  z-index: 1;
  display: block;
  position: absolute;
  left: calc(50% + var(--x) * 1%);
  top: calc(10px + -50% + var(--y) * 1% );
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40px;
  height: 5px;
  /*border:dotted thin gray;*/
  animation: moveUpDown calc( var(--timescale) * var(--yt) ) infinite cubic-bezier(.45,.05,.55,.95) alternate;
  animation-delay: calc( -1s * var(--d, 0) );
}

.chat-sidebar .chat-message {
  overflow: hidden;
}

.chat-sidebar .wild-spell .pt b {
  display: block;
  transform-origin: 50% 50%;
  background-blend-mode: darken, luminosity;
  position: absolute;
  /*border: dotted 3px green;*/
  width: calc( 0.01vw * var(--w) );
  height: calc( 0.01vw * var(--w) );
  opacity: var(--o, 1);
  animation: moveRightLeft calc(var(--timescale) * var(--xt)) infinite cubic-bezier(.45,.05,.55,.95) alternate,
             flicker calc(var(--timescale) * var(--xt)) infinite cubic-bezier(.45,.05,.55,.95) alternate;
  animation-delay: calc( -1s * var(--d, 0) ) , calc( -0.2s * var(--d, 0) );
}

.pt.s1 b {
  background: url(../cards/spades.svg);
  background-size: contain;
  --border-color: white;
}

.pt.s2 b {
  background: url(../cards/hearts.svg);
  background-size: contain;
  --border-color: black;
}

.pt.s3 b {
  background: url(../cards/diamonds.svg);
  background-size: contain;
  --border-color: black;
}

.pt.s4 b {
  background: url(../cards/clubs.svg);
  background-size: contain;
  --border-color: white;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(calc(-50% - 50% * var(--yd, 3)));
  }
  100% {
    transform: translateY(calc(-50% + 50% * var(--yd, 3)));
  } 
}
@keyframes moveRightLeft {
  0% {
    transform: translateX(calc(-50% - 200% * var(--xd, 3)));
  }
  100% {
    transform: translateX(calc(-50% + 200% * var(--xd, 3)));
  }
}
@keyframes flicker{
  0% {
    opacity: calc( var(--o, 1) - .5);
  }
  100% {
    opacity: calc( var(--o, 1) + .5);
  }
}
