.app.castle-falkenstein.cards-hand .window-content {
  overflow: visible;
  background-position: center;
  background: transparent;
}

#handedCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 15px;
  right: 0%;
  top: 0;
  width: 100%;
}

#handedCards h2 {
  text-align: center;
  color: white;
  margin-top: 5px;
}

#handedCards ol.cards {
  justify-content: space-between;
  height: 255px; /* original is 750px, 255px works ok */
  width: 187px;  /* original is 550px, 187 works ok */
  position: relative;
  overflow: visible
}

#handedCards ol.cards li.card {
  transition: all 0.1s;
  transition-timing-function: ease-in;
  box-shadow: 1px 1px 20px 5px #111111;
  position: absolute;
  transform-origin: bottom center;
  transform: rotateZ(-5deg);
  top: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  /* antialiasing */
  outline: 2px solid transparent;
  will-change: transform;
}

#handedCards ol.cards li.focusedCard {
  transform: scale(2);
}

#handedCards ol.cards li.card:hover {
  box-shadow: 1px 1px 20px 5px #3a3a3a;
}

#handedCards ol.cards li.card img.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}

#handedCards ol.cards li.card.focusedCard img.card-face {
  cursor: auto;
}

#handedCards li.card div.castle-falkenstein-card-controls {
  display: none;
  position: absolute;
  transition: none;
  font-size: 1em;
  flex-direction: row;
}

div.castle-falkenstein.cards-config a.card-control {
  color: var(--color-text-light-highlight);
}

div.castle-falkenstein.cards-config a[disabled].card-control {
  color: var(--color-text-dark-inactive);
}

#handedCards li.card.focusedCard div.castle-falkenstein-card-controls a.card-control {
  color: var(--color-text-dark-secondary); 
}

#handedCards li.card.focusedCard div.castle-falkenstein-card-controls i:before {
  font-size: 14px;
}

#handedCards li.card.focusedCard div.castle-falkenstein-card-controls {
  display: flex;
  bottom: 0;
  right: 4px;
  height: 20px;
}

.verticalRot {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0;
}