<form class="flexcol" autocomplete="off">
	<section class="content">
		<div class="parameters-list">
      {{#each cards as |item id|}}
      {{/each}}
		</div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="fas fa-check"></i>
		</button>
	</footer>
</form>