<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="possession-roll"></div>
    <div class="possession-name">{{localize 'CASTLE_FALKENSTEIN.PossessionName'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="possession"><i class="fas fa-plus"></i> {{localize 'CASTLE_FALKENSTEIN.Add'}}</a>
    </div>
  </li>
  {{#each possessions as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="spell-roll">
        <a class="rollable" data-roll-type="item">👁</a>
      </div>
      <div class="possession-name">
        {{item.name}}
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>